.image-gallery-track {
  display: flex;
  gap: 4vmin;
  left: 50%;
  // top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
  user-select: none;

  &__item > img {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    overflow: hidden;
    overflow-clip-margin: unset;
  }

  &__item {
    overflow: hidden;
  }
}

